extends layout

block content
  header
  h2= "Books"
  div.container 
    p #[a(class="button" href="/books/new") Create New Book]
    form(action="/books/search"  class="search" method="post")
      input(type="text" name="query" placeholder="Search for a book..." class="search")
      input(type="submit" id="searchSubmit" value="Search")
    table 
      tr
        th Title
        th Author
        th Genre
        th Year
      each n in books
        tr
          td: a(href="/books/" + n.id) #{n.title}
          td= n.author
          td= n.genre
          td= n.year
  div.page
    - var n = 2
    ul
    //onClick=(() => class="active")
      li: a(class="links" href="/") 1
      while n <= pages
        li #[a(class="links" href="/books/page/" + n alt= n) #{n++}]
